<div class="container">
    <div class="title">
        <h2>Pedidos del día: </h2>
    </div>
</div>

<div class="row g-0 d-flex justify-content-center">
    <div class="col-10" id="listaPedidos">
        <ul class="list-container">
            <li class="product" *ngFor="let pedido of pedidos$ | async">
                <span class="product-name">{{pedido.name}}</span>
                <span class="product-date" *ngIf="pedido.date">{{pedido.date.toDate() | date:'dd/MM/yyyy'}}</span>
            </li>
        </ul>
    </div>
</div>