<div class="container">
    <div class="row justify-content-center">
        <div class="col-8 mt-4 mb-4">
            <a class="btn-clasico" routerLink="/crear-pedido">Crear Pedido</a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-8 mt-2 mb-4">
            <button class="btn-clasico">Ver Pedidos Anteriores</button>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-8 mt-2 mb-2">
            <button class="btn-clasico">Revisar Pedidos</button>
        </div>
    </div>
</div>